<ul>
  <li><a href="{{site.baseurl}}/">Home</a></li>
  <li><a href="{{site.baseurl}}/pages/Getting-Started">Getting started</a>
    <ul>
      <li><a href="{{site.baseurl}}/pages/Tutorial">Tutorial</a></li>
    </ul>
  </li>
  <li><a href="{{site.baseurl}}/pages/CheerpJ-demos">Demos</a></li>
  <li><a href="{{site.baseurl}}/pages/Command-Line-Options">Command line options</a></li>
  <li>APIs
    <ul>
      <li><a href="{{site.baseurl}}/pages/Runtime-API">Runtime API</a></li>
      <li><a href="{{site.baseurl}}/pages/WebWorker-API">WebWorker API</a></li>
      <li><a href="{{site.baseurl}}/pages/Startup-time-optimization">Startup time optimization</a></li>
      <li><a href="{{site.baseurl}}/pages/File-System-support">File System support</a></li>
      <li><a href="{{site.baseurl}}/pages/DOM-and-JavaScript-interoperability">DOM and JavaScript interoperability</a></li>
      <li><a href="{{site.baseurl}}/pages/Implementing-Java-native-methods-in-JavaScript">Implementing Java native methods in JavaScript</a></li>
    </ul>
  </li>
  <li><a href="{{site.baseurl}}/pages/Changelog">Changelog</a></li>
  <li><a href="{{site.baseurl}}/pages/Frequently-Asked-Questions">FAQs (Frequently asked questions)</a></li>
</ul>
